body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    min-height: 95vh; 
    }

  main{
    flex: 1;
  }

  .web-development{
    color: white;
  }

  .picture{
    height: 300px;
    margin: 5px;
  }

  .left{
    float: left;
  }

  .day1{
    display: inline-block;
  }

  .title{
    width: 45%;
    font-size: 50px;
  }
  
  #first-paragraph{
    width: 50%;
  }

  .text{
    width: 45%;
    margin-bottom: 100px;
  }

  .day2{
    float: right;
    border-left: 100px;
  }

  .day2-p{
    width: 25.5%;
    float: right;
    bottom: 50px;
    position: relative;
  }

  .day2-p .text2{
    float: right;
    position: relative;
    bottom: 30px;
  }

  .day2-p .title{
    float: right;
    text-align: end;
  }

  footer{
    text-align: right;
  }



